
<div class="container">
    <h1>ToDo Login Form</h1>
    <hr>
   x <form (ngSubmit)="OnSubmit(taskform)" #taskform="ngForm"> <!--Onsubmit(taskform)---the given id should be inside the method-->
        <div class="form-group">
          <label for="task">Task</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter task" ngModel name="task"><!--  ngModel   --two way binding-->
          <small id="error meassage" class="form-text text-danger">Required Field</small>
        </div>
        <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
      </form>
      <hr>


      <table class="table">
        <thead>
          <tr>
          
            <th scope="col">Task</th>
            <th scope="col">Completed</th>
            <th scope="col">Delete</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of taskArray,index as i">
           
            <td>{{t.taskName}}</td>
            <td><input id="mycheckbox"type="checkbox" ></td>
        
            <td><button class="button" (click)="onDelete(i)">Delete</button></td>
          </tr>
        </tbody>
      </table>

</div>