<div class="card shadow text-center" style= "max-width:350px; min-width: 350px;" >
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
    <p class="card-text">{{project.summary}}</p>
    <button class="btn btn-primary" (click)="openProjectModel()">View More</button>
    </div>

    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center"><!--d-flex is used for aligned in row by default ,flex-wrap is used for flex the items to wrap onto multiple lines if they can't fit in a single line.-->
            <div *ngFor="let tag of project.tags">
                <div  class="tag me-2 mb-2 "[style.background-color]="tag.color">{{tag}}</div>
            </div>
           <!--  me--margin end and mb--margin bottom  -->
        </div>
    </div>

</div>