<div class="container text-center">
    <button (click)="DownloadPdf()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>
    <accordion>
        <accordion-group heading="Work Experience">
            <div style="text-align: left;">
                <h2 class="mb-0">Software Engineering</h2>
                <ul>
                    <li>Design Software:I am a Responsible for designing and architecting software solutions to meet user needs.</li>
                    <li>Write Code:Develop high-quality, maintainable code in languages like [specific languages, e.g., Java, Angular and Typescript].</li>
                    <li>Debugging:Identify and resolve issues or bugs in the software.</li>
                    <li>Continuous Learning: Stay updated with new technologies and best practices in software development.</li>
                    <li>Documentation: Create and maintain technical documentation for code and systems.</li>
                </ul>  
            </div>

        </accordion-group>

        <accordion-group heading="Education">

            <div style="text-align: left;">
                <h2 class="mb-0">Degrees</h2>
                <ul>
                    <li>Under Graduation: Bachelor’s in B.E in Computer Science.</li>
                    <li>college: Attended Kamaraj College of Engineering and Technology, known for its strong CSE Department.</li>
                    <li>Completed the program in [2021] - [2025].</li>
                    <li>Key Subjects: Studied core subjects like>
                        <ul>
                            <li>Data Structures and Algorithms</li>
                            <li>Operating Systems</li>
                            <li> Software Engineering Principles</li>
                            <li>Web Development</li>
                        </ul>
                    </li>
                 <li>Internships: Completed internships at Astro Web Solutions, gaining practical experience in Web Development.</li>      
                </ul>  
                <h2 class="mb-0">Schooling</h2>
                <ul>
                    <li>School Name: Attended St.Joesph Girls Hr.Sec.School, graduated in 2021.</li>
                    <li>Location: Madurai-Tamilnadu-India.</li>
                    <li>Curriculum Focus: Completed a broad curriculum that included:
                        <ul>
                            <li>Core subjects: Mathematics, Science, English, and Social Studies.</li>
                            <li>Electives: Craft, Art, Music</li>
                        </ul>
                    </li>
                    <li>Overall Percentage: Achieved an overall percentage of 88% in my 12th-grade examinations.</li>
                    <li>Subject Breakdown:</li>
                    <ul>
                        <li>Scored 91%  in Tamil.</li>
                        <li>Scored 82% in English.</li>
                        <li>Scored 95% in Maths.</li>
                        <li>Scored 75% in Science.</li>
                        <li>Scored 91% in Social.</li>
                    </ul>
                    <li>Efforts and Preparation: Highlight any significant effort you put into your studies, such as:</li>
                    <ul>
                        <li>Attending extra classes or tutoring.</li>
                        <li>Studying specific techniques or methods.</li>
                    </ul>
                </ul>
            </div>

        </accordion-group>

        <accordion-group heading="Certifications">
            <div style="text-align: left;">
                <h2 class="mb-0">Certifications in MNC Companies </h2>
                <table border="1" cellpadding="10">
                    <thead>
                        <tr>
                            <th>Certificate Name</th>
                            <th>Issuer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Fundamentals in Java</td>
                            <td>Infosys</td>
                        </tr>
                        <tr>
                            <td>Cybersecurity Essentials</td>
                            <td>Cisco</td>
                        </tr>
                        <tr>
                            <td>Algorithms, Data Collection, and Starting to Code</td>
                            <td>Coursera</td>
                        </tr>
                        <tr>
                            <td>Google Cloud Career Readiness: Cloud Digital Leader Track</td>
                            <td>Google</td>
                        </tr>
                    </tbody>
                </table>
           

            </div>

        </accordion-group>

        <accordion-group heading="Projects">
            <div style="text-align: left;">
                <h2 class="mb-0">Maternal Care For Pregnant Ladies  </h2>
                <ul>
                <li>Our project enable the continuous monitoring of health parameters Help the pregnant women to
                    monitor their health by various sensors</li>
                <li>Sensors and Actuators – Worked with multiple sensors and actuators like the Temperature Dht22,
                    Heart rate and Pulse rate sensor for monitoring the baby</li>
                <li>ThingSpeak – Used ThingSpeak a cloud platform for IoT to send data to the cloud and retrieve the
                    data through mobile phones.
                </li>
                </ul>
                <h2 class="mb-0" >Career Guidance(Website)</h2>      
                <ul>
                    <li>Career Guidance Project is the most useful website students who are about to choose their course</li>
                    <li>HTML:Worked with the HTML for developing the web application.</li>
                    <li>Bootstrap: Worked with css framework named bootstrap for creating a dynamic web application</li>
                </ul>
                </div>
        </accordion-group>
    </accordion>

</div>

