<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="\assets\woman-user.svg" alt="Women-User" height="256" width="256" class="rounded-circle">
               <p style="text-align: justify;">Hi there! I’m Jemima K, a final year Computer Science student at Kamaraj College of Engineering and Technology. I’m passionate about software development and have focused my studies on web and mobile application development.
            Throughout my academic journey, I've had the opportunity to work on several projects, including a student portal that streamlined communication between students and faculty and a mobile app designed to help users track their study habits. 
            These experiences have not only sharpened my coding skills in languages like TypeScript, Angular and Java but also taught me the importance of teamwork and effective problem-solving.</p>
            </div>
        </div> 
        <!--Featured Project-->

        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{ featuredProject.name}}</h4>
            </div>

        </div>
       
</div>